apiVersion: v1
kind: Service
metadata:
  name: silent-payroll-mongo-svc
spec:
  selector:
    app: silent-payroll-mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: silent-payroll-mongo
spec:
  serviceName: silent-payroll-mongo-svc
  replicas: 1
  selector:
    matchLabels:
      app: silent-payroll-mongo
  template:
    metadata:
      labels:
        app: silent-payroll-mongo
    spec:
      containers:
      - name: silent-payroll-mongo
        image: mongo:7
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          value: root
        - name: MONGO_INITDB_ROOT_PASSWORD
          value: password
        volumeMounts:
        - name: mongodb-data
          mountPath: /data/db
  volumeClaimTemplates:
  - metadata:
      name: mongodb-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi